[Unit]
Description=WebPageTest stream: technology owner: product-tech
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/opt/webpagetest
ExecStart=/usr/bin/docker-compose -f webpagetest-compose.yml up
ExecStop=/usr/bin/docker-compose -f webpagetest-compose.yml down

[Install]
WantedBy=multi-user.target
